<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movie App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movie app</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <!-- <h3>Welcome to Movie app</h3>
    <ul>
      <li *ngFor="let movie of myMovies">
        {{movie.Title}}
        <img src="{{movie.Poster}}" alt="poster">
        {{movie.Year}}
      </li>
    </ul> -->

    <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let movie of myMovies">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="{{movie.Poster}}" />
        </ion-thumbnail>
        <ion-label>{{movie.Title}}</ion-label>
        <ion-label>{{movie.Year}}</ion-label>
      </ion-item>




      </ion-list>
    </ion-card-content>
  </div>
</ion-content>